<!doctype html>
<html>
<head>
    <title>Create New Student</title>
</head>

<body>

<form action="/student-add" method="post">
    <h1>Create New Student</h1>
    <p>Please enter new student information below.</p>
    <label>First name: 
        <input type="text" name="first_name">
    </label>
    <br>
    <label>Last name: 
        <input type="text" name="last_name">
    </label>
    <br>
    <label>Github: 
        <input type="text" name="github">
    </label>
    <br>
    <input type="submit" value="Add Student">
</form>

</body>
</html>